a.purpleLink {
  display: inline-block;
  color: #fff;
  border-radius: 12px;
  background: #62318a;
  border: none;
  padding: 15px 20px;
  margin: 10px 20px;
  line-height: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Ralewa';
  font-style: normal;
}

h6 {
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  font-style: italic;
}

a.tealLink {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border-radius: 12px;
  background: #22a5b8;
  border: none;
  padding: 15px 20px;
  margin: 10px 20px;
  line-height: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Raleway';
  font-style: normal;
}
