  <hr />
  <div class="row-fluid" style="text-align:center;">
    <p class="homePageText">
      Looking to support a charity close to your heart but want an alternative to traditional fundraising? Raise much-needed, brand-new
      goods for donation to charity with a YouGiveGoods online drive. Corporations, schools, religious organizations, groups, and
      individuals can start a drive free-of-charge at YouGiveGoods and start raising items charities need most.
    </p>
    <p><span style="font-size:28px">Ready to learn more: </span><a class="tealLink" href="/contact-us">Contact Us</a></p>
  </div>
  <div class="stepPanels">
    <p class="text-center"><span class="heading">4 Easy Steps</span></p>
    <div class="row-fluid">
      <div class="span3">
        <p><span class="count">1</span></p>
        <strong>Start raising goods for your charity by setting up a custom drive page</strong>
      </div>
      <div class="span3">
        <p><span class="count">2</span></p>
        <strong>Spark the support of your network for your cause with built-in tools and tips</strong>
      </div>
      <div class="span3">
        <p><span class="count">3</span></p>
        <strong>Supporters visit your page and purchase goods to donate to your nonprofit</strong>
      </div>
      <div class="span3">
        <p><span class="count">4</span></p>
        <strong>When the drive ends, we deliver all new items directly to your nonprofit</strong>
      </div>
    </div>
  </div>
